<p>
  Turns Left: <%= @tally.turns_left %>
</p>
</br>
<p>
  Word So Far: <%= @tally.letters |> Enum.join(" ") %>
</p>
</br>
<p>
  Guessed Letters: <%= word_so_far(@tally) %>
</p>
<br>
<%= if game_over?(@tally) do %>
  <%= new_game_button(@conn) %>
<% else %>
  <%= form_for(@conn, Routes.hangman_path(@conn, :make_move), [ as: :make_move, method: :put] , fn f -> %>
    <%= text_input(f, :guess) %>
    <%= submit("Make Guess") %>
  <% end) %>
<% end %>
